<!-- SEARCH.HTML -->
{% extends 'dictionary/base.html' %} 
{% block content %}
<div>
  {% if is_found %}
  <h2 align="center">{{ word }} [ {{ phonetic }} ]</h2>
  <br />
  <p><b>Origin: </b>{{ origin }}</p>
  <br />
  <div>
    {% if meanings %}
    <ul class="list-group">
      {% for meaning in meanings %}
      <li class="list-group-item bg-success text-white rounded accordion">
        {{meaning.partOfSpeech}}
      </li>
      {% for definition in meaning.definitions %}
      <details class="accordion-item border-bottom-0">
        <summary class="accordion-button">
          <div class="p-2 accordion-header user-select-none">
            <svg xmlns="http://www.w3.org/2000/svg" 
                width="16" 
                height="16" 
                fill="currentColor" 
                class="bi bi-info-circle m-3" 
                viewBox="0 0 16 16"
            >
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
            {{definition.definition}}
          </div>
        </summary>
        {% if definition.example or definition.synonyms or definition.antonyms%}
            <div class="py-3 accordion-body border-bottom">
                {% if definition.example %}
                <span class="m-2 p-2 border-left-2 ">Example: {{definition.example}}</sp>
                {% endif %} 
                {% if definition.synonyms %}
                <br>
                <span class="m-2 p-2 border-left-2 ">Synomyms: {{definition.synonyms}}</span></p>
                {% endif %} 
                {% if definition.antonyms %}
                <br>
                <span class="m-2 p-2 border-left-2 ">Antonyms: {{definition.antonyms}}</span>
                {% endif %}
            </div>
        {%endif%}
      </details>
      {% endfor %}
      <hr />
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="m-3">
    <a class="btn btn-primary text-white" href="{{source_url}}"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-info-square m-2"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
        />
        <path
          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
        /></svg
      >Click to more detail</a
    >
  </div>
  {%else%}
  <div class="border-start border-warning border-5 p-3 ">
        <h2 align="center">{{ word }}</h2>
        <br />
        <p>Title: {{title}}</p>
        <br />
        <p><b>Message: </b>{{ message }}</p>
  </div>
  {% endif %}
  <div class="m-3">
    <a class="btn btn-success" href="{% url 'dictionary:home' %}"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-backspace m-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"
        />
        <path
          d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"
        /></svg
      >Home</a
    >
  </div>
</div>
{% endblock %}
